@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,400&family=Lora:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

html {
    font-family: Arial, sans-serif;
    background-color: #fbeddd;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: 100%;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

header {
    background-color: #EAD8C4;
    font-family: 'Playfair Display', serif;
    color: #fff;
    padding: 40px 32px 24px;
    text-align: left;
    overflow: hidden;
    font-size: 25px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-style: italic;
    color: #ffffff;
    text-shadow: 10px 28px 48px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 35px;
    color: #5A3A2A;
    text-shadow: 10px 28px 48px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Lora', serif;
    font-style: italic;
    color: #642802;
    font-weight: 400;
}
h4{
    font-family: 'Lora', serif;
    font-style: italic;
    color: #642802;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    margin-top: 30px;
}


.quote {
    order: 3;
}

.title {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    width: 100%;

}

.title-underline {
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, #cc7242, #f1ba6e);
    border-radius: 2px;
    margin-top: -15px;
}

#header_first_title {
    color: pink;
    gap: 1px;
    margin-bottom: -10px;
    font-family: 'Crimson Text', serif;
    font-size: 0.8rem;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    opacity: 0.85;

}

#header_subtitle {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    margin-top: -10px;
}

.imagem_fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./imgs/stars_hollow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: blur(4px);
    transform: scale(1);
    z-index: 0;
    background-attachment: fixed;
}

/* conteúdo acima da imagem */
header>*:not(.imagem_fundo) {
    position: relative;
    z-index: 1;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.menu ul {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: #5A3A2A;
    list-style: none;
    font-size: 18px;
    gap: 50px;
    max-width: 1700px;
    width: 100%;
    padding-inline-start: 0;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-family: 'Lora', serif;
    font-style: normal;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    display: inline-block;

}
.menu ul li a:hover {
    color: #fff;
    background-color: #7b3b12ca;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.menu ul li a.active {
    color: #fff;
    background-color: #7b3b12ca;
    border: 1px solid transparent;

}

.menu ul li a.active:hover {
    color: #fff;
    background-color: #89550c68;
    border: 1px solid #fbeddd;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    
}

.inicio-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: #fbeddd;
    margin: 10px;
}

/* controla o bloco de texto */
.texto_inicio {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    color: #3b1802;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.texto_inicio img {
    width: 250px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.imagem_elas img{
    display: flex;
    flex-direction: row;
    width: 600px; /* Alterado de 10px para auto */
    height: 100%;
    margin-top: 10px;
    margin-bottom: -70px;

}
.title-underline:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.tag1 {
    color: var(--text-main);
    font-family: 'Lora', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    background-color:#7b3a12;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}
.tag1:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* PERSONAGENS PRINCIPAIS */
.personagem-card {
    display: flex;
    flex-direction: column;
    background-color: #EAD8C4;
    padding: 0px;
    align-items: start;
    justify-content: center;
}

.personagem-card h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: #5A3A2A;
    text-shadow: 10px 28px 48px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 30px;
}

.personagem-card span {
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: 300;
    margin: 10px;
}

.personagem-card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -20px;
}

.personagem-card li {
    padding: 0px;
    width: 200px;
    background: #f8f2f2;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.personagem-card p{
    padding: 0px;
    background: #f8f2f2;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: normal;
    color: #450807;
    text-align: left;
    margin-top: -5px
}

.wrap_text {
    padding: 0px;
    background: #f8f2f2;
    font-family: 'Lora', serif;
    font-style: normal;
    font-size: 12px;
    justify-items: center;
    margin: 10px;
    margin-top: 40px;
}

.personagem-card ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
    margin: 50px;
    margin-top: 20px;
}

.active-descricao {
    max-height: 350px !important;
}

.descricao {
    max-height:0;
    transition: max-height 0.4s ease, padding 0.3s ease;
    overflow:hidden;

}
.personagem-card li:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.personagem-card ul li a{
    font-family: 'Lora', serif;
    font-style: italic;
    color: #642802;
    text-align: left;
    font-size: 14px;
    margin-top: 30px;
}

/* EPISÓDIOS MEMORAVEIS */
#Episodios_Memoraveis{
    padding: 0px;
    background-color: rgb(194, 164, 129);
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: normal;
    color: #ffffff; 
    text-align: rigth;
}

#Episodios_Memoraveis h2{
    display: flex;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: #5A3A2A;
    text-shadow: 10px 28px 48px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 30px;
}

.ep_memoraveis{
    display: flex;
    background-color: #fc6303a9;
    margin: 30px;
    border-radius: 20px;

}


/* imagens dos episodios*/
.ep_memoraveis img{
    display: flex;
    flex-direction: column;
    width: 400px; 
    height: 100%;
    align-items: left;
}
.descricao_momento {
    display: flex;
    flex-direction: row;/* Alterado de 10px para auto */
    text-align: right;
    border-radius: 40px;
    background-color: #0971b7;
     margin-right: 0;
        margin: 15px;
}



















/* CURIOSIDADES */
.curiosidades {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;

    border: 1px solid;
    border-radius: 20px;
    padding: 10px;

}

.curiosidades li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #EAD8C4;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curiosidades ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    gap: 5px;
    padding: 0;
    margin: 10px;
    justify-content: center;
}

.imagem_fundo1 {
    background-image: url("./imgs/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

/* conteúdo acima da imagem */
.curiosidades>*:not(.imagem_fundo1) {
    position: relative;
    z-index: 1;
}


.temporadas table{
    font-size: 14px;
    background-color: #db661d81;
    width: 1200px;
    height: auto;
    border-width: 10px;
    border-style: hidden;
    border-color:#5A3A2A;
    border-collapse: collapse;
}
.temporadas table, th, td {
  border: 1px solid;
}
.temporadas tr:nth-child(even) {background-color: #f2f2f2;} /* cria duas cores para tabela*/


.tag {
    background: #e48704;
    backdrop-filter: blur(10px);
    color: #EAD8C4;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
}

.links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    gap: 15px;
    padding: 0;
    margin: 10px;
    justify-content: center;

}

.links li {
    background-color: #f4cb9c;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.links li a {
    <i class="bi bi-house-heart-fill"></i>
    text-decoration: none;
    color: #4A2E2A;
    font-weight: bold;
    margin-bottom: 10px;
}

.links li:hover {
    color: #e48704;
    transition: 0.3s;
}



article li a {
    text-decoration: none;
    color: #4A2E2A;
    font-weight: bold;

}

article ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #5A3A2A;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Adiciona isso */
    justify-content: flex-start;
    /* Muda para flex-start */
    align-items: center;
    /* Mantém center */
    margin: 0;
    width: 100%;
}

footer a {
    color: #EAD8C4;
    text-decoration: none;
    font-weight: bold;
}

